@use "@/assets/styles/main.scss" as *;
//---------------------------------------------------------------------------------------------//
//========================================= home ==============================================//
//---------------------------------------------------------------------------------------------//

#home {
  @extend .parent;
  @extend .margin-global;
  gap: 64px;

  .container-windows-step{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin-block: 50px;

    .btn2{
      background-color: #fff!important; 
      border: 1px solid #EAECF0!important;
      min-width: 100%!important;

      span{
        font-weight: 700!important;
      }
    }

    h5{
      @include media(max, 660px){
        font-size: 18px!important;
      }
    }

    span, p, label{
      @include media(max, 660px){
        font-size: 13px!important;
      }
    }

    @include media(max, 660px){
      justify-content: center;
      align-items: flex-start;
      padding-inline: 5px;
    }

    .card-register{
      box-shadow: 0px!important;
      width: 550px!important;
      display: flex;
      flex-direction: column;
      margin-left: 1px;

      .input{
        max-height: 45px!important;
        height: 45px;

        i{
          font-size: 20px;
        }

        .v-field{
					height: 40px!important;
					max-height: 40px!important;
					min-height: 1px!important;
          border-radius: 10px!important;
          border: 1px solid #EAECF0;
				}
	
				input{
					color: #000!important;
					font-size: 14px;
					height: 40px!important;
					max-height: 40px!important;
					min-height: 1px!important;
					margin-top: -5px;
				}
	
				.v-field__input{
					padding-left: 15px;
					padding-block: 5px;
					height: 40px!important;
					max-height: 40px!important;
					min-height: 1px!important;
				}
      }

      .img-logo{
        width: 45px;
        height: 45px;
        padding: 5px;
      }

      .font300{
        font-weight: 300!important;
      }

      .color-grey{
        color: #475467!important;
      }

      label{
        color: #475467;
        font-weight: 300;
      }

      .v-btn{
        border-radius: 10px!important;
      }
    }
  }

  .side-banner{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 90vh;
    width: 40vw;

    @include media(max, 1264px){
      display: none;
    }
  }
}
