@use "@/assets/styles/main.scss" as *;
//---------------------------------------------------------------------------------------------//
//========================================= settings ========================================//
//---------------------------------------------------------------------------------------------//

#settings {
  @extend .parent;
  @extend .margin-global;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-block: 30px;

  h3, h6{
    font-weight: 700;
  }

  .sheet{
    background-color: #CCCCCC;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.25);
  }

  .tertiary{
    color: $tertiary;
  }

  img{
    border-radius: 0px;
    border: 0px solid #fff!important;
    background-color: transparent!important;
    box-shadow: 0px;
    padding: 0px;
  }

  .verifyStatus{
    border: 1px solid #17B26A!important;
    background-color: #F6FEF9!important;
  }

  .icon-green{
    background-color: #DCFAE6;
    border-radius: 50%;
    padding: 10px;
    font-size: 15px;
    color: #17B26A;
  }

  .v-btn{
    border-radius: 10px!important;
  }
}


.v-tab{
  border: none!important; border-bottom: 2px solid rgba(0,0,0,0.25)!important; border-radius: 0px!important;
}




// ////////////////////////dialogs//////////////////

.v-dialog{
  .v-overlay__content{
    display: flex;
    justify-content: center;
    align-items: center;

    .card-dialog-notification{
      width: 600px;
      max-width: 600px!important;
      position: relative;
      padding-block: 20px!important;

      .pl0-pr0-mobile{
        padding-inline: 0px!important;
      }
      
      .div-radio-sell{
        border: 1px solid #EAECF0;
        border-radius: 10px;
        padding: 5px 10px;
        margin-block: 15px;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
      }

      .tertiary{
        color: $tertiary;
      }
 
      .input{
       max-height: 45px!important;
       height: 45px;
 
       i{
         font-size: 20px;
       }
 
       .v-field{
         height: 40px!important;
         max-height: 40px!important;
         min-height: 1px!important;
         border-radius: 10px!important;
         border: 1px solid #EAECF0;
       }
 
       input{
         color: #000!important;
         font-size: 13px;
         height: 40px!important;
         max-height: 40px!important;
         min-height: 1px!important;
         margin-top: -5px;
       }
 
       .v-field__input{
         padding-left: 15px;
         padding-block: 5px;
         height: 40px!important;
         max-height: 40px!important;
         min-height: 1px!important;
       }
     }
  
      .close{
        position: absolute;
        top: 15px;
        right: 15px;
        color: $tertiary;
      }
  
      .v-btn{
        border: 1px solid rgba(0,0,0,0.25)!important;
        width: max-content!important;
        border-radius: 10px!important;
        --fw: 700!important;
      }
    }
  }
}

.v-dialog{
  .v-overlay__content{
    display: flex;
    justify-content: center;
    align-items: center;

    .card-dialog-reset{
     width: 600px;
     max-width: 600px!important;
     position: relative;
     padding-block: 20px!important;
     .tertiary{
       color: $tertiary;
     }

     .input{
      max-height: 45px!important;
      height: 45px;

      i{
        font-size: 20px;
      }

      .v-field{
        height: 40px!important;
        max-height: 40px!important;
        min-height: 1px!important;
        border: 1px solid #EAECF0;
        border-radius: 10px!important;
      }

      input{
        color: #000!important;
        font-size: 13px;
        height: 40px!important;
        max-height: 40px!important;
        min-height: 1px!important;
        margin-top: -5px;
      }

      .v-field__input{
        padding-left: 15px;
        padding-block: 5px;
        height: 40px!important;
        max-height: 40px!important;
        min-height: 1px!important;
      }
    }
 
     .close{
       position: absolute;
       top: 15px;
       right: 15px;
       color: $tertiary;
     }
 
     img{
       border-radius: 0px;
       border: 0px solid #fff!important;
       background-color: transparent!important;
       box-shadow: 0px;
       padding: 0px;
     }
 
     .v-btn{
       border: 1px solid rgba(0,0,0,0.25)!important;
       width: max-content!important;
       border-radius: 10px!important;
       --fw: 700!important;
     }
    }
  }
}

.v-dialog{
  .v-overlay__content{
    display: flex;
    justify-content: center;
    align-items: center;

    .card-dialog-company{
    width: 600px;
    max-width: 600px!important;
     position: relative;
     padding-block: 20px!important;
     .tertiary{
       color: $tertiary;
     }

     .input{
      max-height: 45px!important;
      height: 45px;

      i{
        font-size: 20px;
      }

      .v-field{
        height: 40px!important;
        max-height: 40px!important;
        min-height: 1px!important;
        border: 1px solid #EAECF0;
        border-radius: 10px!important;
      }

      input{
        color: #000!important;
        font-size: 13px;
        height: 40px!important;
        max-height: 40px!important;
        min-height: 1px!important;
        margin-top: -5px;
      }

      .v-field__input{
        padding-left: 15px;
        padding-block: 5px;
        height: 40px!important;
        max-height: 40px!important;
        min-height: 1px!important;
      }
    }
 
     .close{
       position: absolute;
       top: 15px;
       right: 15px;
       color: $tertiary;
     }
 
     img{
       border-radius: 0px;
       border: 0px solid #fff!important;
       background-color: transparent!important;
       box-shadow: 0px;
       padding: 0px;
     }
 
     .v-btn{
       border: 1px solid rgba(0,0,0,0.25)!important;
       width: max-content!important;
       border-radius: 10px!important;
       --fw: 700!important;
     }
    }
  }
}

.v-dialog{
 .v-overlay__content {
  display: flex;
  justify-content: center;
  align-items: center;
  .card-dialog-connect{
    max-width: 900px!important;
    width: 900px;
    position: relative;
    padding-block: 20px!important;
    .tertiary{
      color: $tertiary;
    }

    .close{
      position: absolute;
      top: 15px;
      right: 15px;
      color: $tertiary;
    }

    img{
      border-radius: 0px;
      border: 0px solid #fff!important;
      background-color: transparent!important;
      box-shadow: 0px;
      padding: 0px;
    }

    .v-btn{
      background-color: #fff!important;
      border: 1px solid rgba(0,0,0,0.25)!important;
      width: max-content!important;
      border-radius: 10px!important;
    }
  }
 }
}

.v-dialog{
  .v-overlay__content {
   display: flex;
   justify-content: center;
   align-items: center;
   .card-dialog-credit-card{
     width: 600px;
     max-width: 600px!important;
     position: relative;
     padding-block: 20px!important;
     .tertiary{
       color: $tertiary;
     }

     .input{
      max-height: 45px!important;
      height: 45px;

      i{
        font-size: 20px;
      }

      .v-field{
        height: 40px!important;
        max-height: 40px!important;
        min-height: 1px!important;
        border: 1px solid #EAECF0;
        border-radius: 10px!important;
      }

      input{
        color: #000!important;
        font-size: 13px;
        height: 40px!important;
        max-height: 40px!important;
        min-height: 1px!important;
        margin-top: -5px;
      }

      .v-field__input{
        padding-left: 15px;
        padding-block: 5px;
        height: 40px!important;
        max-height: 40px!important;
        min-height: 1px!important;
      }
    }
 
     .close{
       position: absolute;
       top: 15px;
       right: 15px;
       color: $tertiary;
     }
 
     img{
       border-radius: 0px;
       border: 0px solid #fff!important;
       background-color: transparent!important;
       box-shadow: 0px;
       padding: 0px;
     }
 
     .v-btn{
       border: 1px solid rgba(0,0,0,0.25)!important;
       width: max-content!important;
       border-radius: 10px!important;
       --fw: 700!important;
     }
   }
  }
 }

 .v-dialog{
  overflow: visible!important;
  .v-overlay__content {
   display: flex;
   justify-content: center;
   align-items: center;
   .card-dialog-2fa{
     width: 400px;
     max-width: 400px!important;
     position: relative;
     padding-block: 20px!important;
     .tertiary{
       color: $tertiary;
     }

     .select{
      margin-top: -5px;
      max-width: max-content!important;
      .v-field__input{
        padding-left: 0px;
        color: #000;
      }
    }

     .input{
      max-height: 45px!important;
      height: 45px;

      i{
        font-size: 20px;
      }

      .v-field{
        height: 40px!important;
        max-height: 40px!important;
        min-height: 1px!important;
        border: 1px solid #EAECF0;
        border-radius: 10px!important;
      }

      input{
        color: #000!important;
        font-size: 13px;
        height: 40px!important;
        max-height: 40px!important;
        min-height: 1px!important;
        margin-top: -5px;
      }

      .v-field__input{
        padding-left: 5px;
        padding-block: 5px;
        height: 40px!important;
        max-height: 40px!important;
        min-height: 1px!important;
      }
    }
 
     .close{
       position: absolute;
       top: 15px;
       right: 15px;
       color: $tertiary;
     }
 
     img{
       border-radius: 0px;
       border: 0px solid #fff!important;
       background-color: transparent!important;
       box-shadow: 0px;
       padding: 0px;
     }
 
     .v-btn{
       border: 1px solid rgba(0,0,0,0.25)!important;
       width: max-content!important;
       border-radius: 10px!important;
       --fw: 700!important;
     }
   }
  }
 }

 .v-dialog{
  overflow: visible!important;
  .v-overlay__content {
    display: flex;
    justify-content: center;
    align-items: center;
    .card-dialog-participant{
      width: 900px;
      max-width: 900px!important;
      position: relative;
      padding-block: 20px!important;
      .tertiary{
        color: $tertiary;
      }
      .close{
        position: absolute;
        top: 15px;
        right: 15px;
        color: $tertiary;
      }

      img{
        border-radius: 0px;
        border: 0px solid #fff!important;
        background-color: transparent!important;
        box-shadow: 0px;
        padding: 0px;
      }

      .v-btn{
        border: 1px solid rgba(0,0,0,0.25)!important;
        width: max-content!important;
        border-radius: 10px!important;
        --fw: 700!important;
        min-height: 30px!important;
        height: 40px!important;
      }

      .check{
        background-color: #F2F4F7;
        border-radius: 50%;
        padding: 10px;
        font-size: 15px;
        color: #667085;
      }

      .check-green{
        background-color: #DCFAE6;
        border-radius: 50%;
        padding: 10px;
        font-size: 15px;
        color: #17B26A;
      }
    }
  }
}

.v-dialog{
  overflow: visible!important;
  .v-overlay__content {
   display: flex;
   justify-content: center;
   align-items: center;
   .card-dialog-form{
     width: 400px;
     max-width: 400px!important;
     position: relative;
     padding-block: 20px!important;
     .tertiary{
       color: $tertiary;
     }

     .input{
      max-height: 45px!important;
      height: 45px;

      i{
        font-size: 20px;
      }

      .v-field{
        height: 40px!important;
        max-height: 40px!important;
        min-height: 1px!important;
        border: 1px solid #EAECF0;
        border-radius: 10px!important;
      }

      input{
        color: #000!important;
        font-size: 13px;
        height: 40px!important;
        max-height: 40px!important;
        min-height: 1px!important;
        margin-top: -5px;
      }

      .v-field__input{
        padding-left: 5px;
        padding-block: 5px;
        height: 40px!important;
        max-height: 40px!important;
        min-height: 1px!important;
      }
    }
 
     .close{
       position: absolute;
       top: 15px;
       right: 15px;
       color: $tertiary;
     }
 
     img{
       border-radius: 0px;
       border: 0px solid #fff!important;
       background-color: transparent!important;
       box-shadow: 0px;
       padding: 0px;
     }
 
     .v-btn{
       width: max-content!important;
       border-radius: 10px!important;
       --fw: 700!important;
     }
   }
  }
 }