//======= Ubuntu =======//
// @font-face {
//   font-family: 'Ubuntu';
//   src: url(/frontend/assets/fonts/Ubuntu/Ubuntu-Light.ttf) format('truetype');
//   font-weight: 300;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Ubuntu';
//   src: url(/frontend/assets/fonts/Ubuntu/Ubuntu-LightItalic.ttf) format('truetype');
//   font-weight: 300;
//   font-style: italic;
// }
// @font-face {
//   font-family: 'Ubuntu';
//   src: url(/frontend/assets/fonts/Ubuntu/Ubuntu-Regular.ttf) format('truetype');
//   font-weight: 400;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Ubuntu';
//   src: url(/frontend/assets/fonts/Ubuntu/Ubuntu-Italic.ttf) format('truetype');
//   font-weight: 400;
//   font-style: italic;
// }
// @font-face {
//   font-family: 'Ubuntu';
//   src: url(/frontend/assets/fonts/Ubuntu/Ubuntu-Medium.ttf) format('truetype');
//   font-weight: 500;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Ubuntu';
//   src: url(/frontend/assets/fonts/Ubuntu/Ubuntu-MediumItalic.ttf) format('truetype');
//   font-weight: 500;
//   font-style: italic;
// }
// @font-face {
//   font-family: 'Ubuntu';
//   src: url(/frontend/assets/fonts/Ubuntu/Ubuntu-Bold.ttf) format('truetype');
//   font-weight: 700;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Ubuntu';
//   src: url(/frontend/assets/fonts/Ubuntu/Ubuntu-BoldItalic.ttf) format('truetype');
//   font-weight: 700;
//   font-style: italic;
// }

//======= Grotesk =======//
@font-face {
  font-family: 'Grotesk';
  src: url(../../fonts/Grotesk/PPRadioGrotesk-Ultralight.ttf) format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Grotesk';
  src: url(../../fonts/Grotesk/PPRadioGrotesk-UltralightItalic.ttf) format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Grotesk';
  src: url(../../fonts/Grotesk/PPRadioGrotesk-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Grotesk';
  src: url(../../fonts/Grotesk/PPRadioGrotesk-LightItalic.ttf) format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Grotesk';
  src: url(../../fonts/Grotesk/PPRadioGrotesk-Regular.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Grotesk';
  src: url(../../fonts/Grotesk/PPRadioGrotesk-RegularItalic.ttf) format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Grotesk';
  src: url(../../fonts/Grotesk/PPRadioGrotesk-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Grotesk';
  src: url(../../fonts/Grotesk/PPRadioGrotesk-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Grotesk';
  src: url(../../fonts/Grotesk/PPRadioGrotesk-Black.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Grotesk';
  src: url(../../fonts/Grotesk/PPRadioGrotesk-BlackItalic.ttf) format('truetype');
  font-weight: 900;
  font-style: italic;
}
